pdfminer3==2018.12.3.0
pyresparser==1.0.6
streamlit==1.24.0
streamlit-tags==1.2.8
Pillow==9.5.0
nltk==3.8.1
spacy~=2.3.5
pdf2image==1.16.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm